<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="paper">
	<div id="app">
		<input type="number" v-model="number">
		<input type="number" v-model="row">
		<div class="space"></div>
		<h3>สูตรคูณแม่ {{number}}</h3>
		<h5>แม่ก่อนหน้า -> แม่ {{before_n}} </h5>
		<h4 v-for="i in r">{{number}} x {{i}} = {{x(i)}}</h4>
		<h3 class="yoboi">sum = {{sum(r)}}</h3>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				number: 2,
				before_n: 1,
				row: 12
			},
			computed: {
				r : function(){
					return parseInt(this.row)
				}
			},
			methods: {
				x : function(row){
					return this.number*row
				},
				sum : function(row){
					su = 0
					for (let i = 0; i <= row; i++) {
						su += this.number*i
					}
					return su
				}
			},
			watch: {
				n : function(a,b){
					this.before_n = b
				}				
			}
		})
	</script>
</body>
</html>