body{
    background: linear-gradient(to left top, red , orange , yellow, green, cyan, blue, violet);

}
input{
    color: crimson;
}
h3{
    font-size: 1.5em;
    color: tomato;
}
h5{
    font-size: 1em;
    color: brown;
    margin-top: 1em;
}
h4{
    margin-top: 1.25em;
    margin-left: .75em;
    box-shadow:8px 4px 8px violet;
    padding: .5em .3em;
}

