body{
    background: linear-gradient(to left, red , orange , yellow, green, cyan, blue, violet);

}
input{
    color: crimson;
}
h3{
    font-size: 1.5em;
    color: tomato;
}
h5{
    color: brown;
    margin-top: 0.25em;
}
h4{
    margin-top: 1.25em;
    margin-left: .75em;
    box-shadow:8px 4px 8px violet;
    padding: .2em .1em;
}

